@font-face {
 font-family: Antiqua;
 src: url('assets/fonts/antiqua.ttf');
 font-weight: normal;
    font-style: normal;
}

body
{
margin:0;
padding:0;
font:normal 16px Antiqua, Arial, sans-serif;
-webkit-font-smoothing: antialiased;
}
table {
-webkit-border-collapse: collapse;
-moz-border-collapse: separate;

font:normal 14px Antiqua, Arial, sans-serif;
}
th
{
cursor:pointer;
background: #a06f7e;
opacity: 0.7;
color:#fff;
border-style: solid;
border-color: #fff;
border-collapse: collapse;
padding: 10px;
font-weight: normal;
}
th:hover{
opacity: 1;
}
td, th{
	width: auto;
	height: auto;
	text-align: center;
	vertical-align: middle;
	   
}
img{
cursor:pointer;
}
.container1{
width: 45%;
float: left;
/*height: 650px;
border-style: solid;
border-image-width: 10px;
border-image-source: url(border.jpg);
border-image-slice: 40;
border-image-repeat: round;*/
}
.container2{
width: 45%;
float: right;
}
#header {
	position: relative; top: 0%; left: 25%;
	background: url(sprite.png) no-repeat;
	background-position: -95px -15px;
	width: 280px;
	height: 85px;
	margin: 0;
}
.main
{
margin: 15px;
}
#avatar
{
float:left;
margin:10px;
}
#hello
{
font:normal 18px Antiqua, Arial, sans-serif;
}
h1, h2, .h1, .h2, h3, h4, .h3, .h4
{
font-family:Antiqua, sans-serif; 
font-weight:bold;
margin-top:0;
color:#333;    
text-transform:uppercase;
letter-spacing:2px;
}
input[type=button]
{
font: 12px Antiqua, sans-serif;
text-transform:uppercase;
background-color: #a06f7e;
color:#fff;
border:0;
border-radius: 0px;
padding:12px 20px;
outline:none;
cursor:pointer;
opacity: 0.7;

-webkit-transition: all 200ms ease;
-moz-transition: all 200ms ease;
-ms-transition: all 200ms ease;
-o-transition: all 200ms ease;
transition: all 200ms ease;
}
input[type=button]:hover{
opacity: 1;
}
	
#prognoz
{
font:bold 18px Antiqua, Arial, sans-serif;
}
#footer {
position: absolute;
left: 0;
bottom: 0;
width: 100%;
text-align: center;
}
